{{extend 'layout.html'}}

{{block head}}
    <style type="text/css">
    .cat {
        background: blue;
        color:white;
    }
    </style>

    {{include "functions.html"}}
{{end}}

{{block featured}}
    <div class="hero-unit">
        <h3> FEATURED </h3>
        {{get_thumbnails(featured, size=(260, 180), box="span3")}}
    </div>
{{end}}



{{block main}}
    <h3> GALLERY </h3>
    <div> Aqui você precisa colocar links para ordenar por data e preço</div>
    {{get_thumbnails(products, size=(260, 180), box="span3")}}


{{end}}
