{{extend 'layout.html'}}

{{block head}}
	<style type="text/css">
	.cat {
	    background: blue;
	    color:white;
	}
	</style>

    {{include "functions.html"}}	
{{end}}

{{block featured}}
<div class="hero-unit">
	<h3> FEATURED </h3>
	<ul class="thumbnails">
	  {{for product in featured:}}	
	  <li class="span3">
	    <div class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	      <h4>{{=product.name}}</h4>
	      <p><span>{{=product.unit_price}}</span></p>
	    </div>
	  </li>
	  {{pass}}
	</ul>
</div>	
{{end}}



{{block main}}
<h1> GALLERY </h1>

{{get_thumbnails(products)}}

{{=UL(*[LI(
	        DIV(
	            IMG(_src="http://placehold.it/260x180"),
                H4(product.name),
                P(SPAN(product.unit_price)),
                _class="thumbnail"
            ),
            _class="span3"
        ) for product in products],
      _class="thumbnails"
      )
}}

{{end}}