<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{=response.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{=response.description}}">
    <!-- Le styles -->
    <link href="{{=URL('static', 'css', args='bootstrap.css')}}" rel="stylesheet">

    <!-- web2py css -->
    <link href="{{=URL('static', 'css', args='calendar.css')}}" rel="stylesheet">
    <link href="{{=URL('static', 'css', args='web2py.css')}}" rel="stylesheet">

    <!-- navbar -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      footer ul { list-style:none;}
      footer ul li {float:left; margin-left:5px;margin-right:5px;}
    </style>

    <link href="{{=URL('static', 'css', args='bootstrap-responsive.css')}}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- web2py JS -->

    <script type="text/javascript"><!--
    // These variables are used by the web2py_ajax_init function in web2py_ajax.js (which is loaded below).
    var w2p_ajax_confirm_message = "{{=T('Are you sure you want to delete this object?')}}";
    var w2p_ajax_date_format = "{{=T('%Y-%m-%d')}}";
    var w2p_ajax_datetime_format = "{{=T('%Y-%m-%d %H:%M:%S')}}";
    //--></script>

    <script src="{{=URL('static', 'js', args='jquery.js')}}"></script>
    <script src="{{=URL('static', 'js', args='calendar.js')}}"></script>
    <script src="{{=URL('static', 'js', args='web2py.js')}}"></script>

    <!-- bootstrap JS -->
    <script src="{{=URL('static', 'js', args='bootstrap.js')}}"></script>

    {{block head}}<!-- Custom header for subpages -->{{end}}
  </head>
  <body>
    {{block navbar}}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Ecommerce</a>
          <div class="nav-collapse">
            {{=UL(*[LI(A(menu["title"], _href=menu["url"]), _class="active" if menu['url'] == request.url else "") for menu in meus_menus], _class="nav")}}
            <form class="navbar-search pull-left" method="GET" action="{{=URL('product', 'search')}}">
            <input name="q" id="q" type="text" class="search-query span2" placeholder="Search">
          </form>
          <ul class="nav pull-right">
            <li>{{=A(T("Login"), _href=URL('home', 'user', args='login')) if not auth.user else A(T("Logout"), _href=URL('home', 'user', args='logout'))}}</li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{=T("Account")}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{if auth.user:}}
                <li>{{=A(T("Profile"), _href=URL('home', 'user', args='profile'))}}</li>
                 <li>{{=A(T("Password"), _href=URL('home', 'user', args='change_password'))}}</li>
                 {{else:}}
                  <li>{{=A(T("Register"), _href=URL('home', 'user', args='register'))}}</li>
                  <li>{{=A(T("Remember password"), _href=URL('home', 'user', args='retrieve_password'))}}</li>
                {{pass}}
              </ul>
            </li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {{end}}

    <div class="container">
      {{block featured}}

      {{end}}

      {{block main}}

      {{end}}

      {{#include '../static/fail.html'}}
      <hr>

      {{block footer}}
      <footer>
           {{=UL(*[LI(A(menu["title"], _href=menu["url"])) for menu in meus_menus])}}
        <p>{{include "../static/footer.html"}}</p>
      </footer>
      {{end}}
    </div> <!-- /container -->
  </body>
</html>
